{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br>
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Review your order and make Payments.
        </span>
    </div>
</div>
<!-- Shoping Cart -->
<div class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <div class="card">
                            <h5 class="card-header">Billing Address</h5>
                            <div class="card-body">
                              <p class="card-text mb-0">{{order.full_name}}</p>
                              <p class="card-text mb-0">{{order.full_address}}</p>
                              <p class="card-text mb-0">{{order.city}},{{order.state}}</p>
                              <p class="card-text mb-0">{{order.country}}</p>
                              <p class="card-text mb-0">{{order.email}}</p>
                              <p class="card-text mb-0">{{order.phone}}</p>
                              {% if order.order_note %}
                                <b>Order Note:</b> {{order.order_note}}
                              {% endif %}
                            </div>
                        </div> <!-- card.// -->
                         <!--========== Payment listing =====-->
                        <div class="card">
                            <h5 class="card-header">Payment Method</h5>
                            <div class="card-body">
                            <p class="card-text">PayPal</p>
                            </div>
                        </div> <!-- card.// -->
                        <!-- ==========payment list ends=========== -->
                         <!--========== product listing =====-->
                         <div class="card">
                            <h5 class="card-header">Review Product</h5>
                            <div class="card-body">
                                <table class="table-shopping-cart">
                                    <tr class="table_head">
                                        <th class="column-1">Product</th>
                                        <th class="column-2"></th>
                                        <th class="column-3">Price</th>
                                        <th class="column-4 text-center">Quantity</th>
                                        <th class="column-5">Total</th>
                                    </tr>
                                    {% for cart_item in cart_items %}
                                    <tr class="table_row">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <img src="{{ cart_item.product.images.url }}" alt="IMG">
                                            </div>
                                        </td>
                                        <td class="column-2">
                                            <ul>
                                                <li>
                                                    <a href="{{  cart_item.product.get_url }}">{{ cart_item.product.product_name }}</a>
                                                </li>
                                                <li>
                                                    {% if cart_item.variations.all %}
                                                        {% for item in cart_item.variations.all %}
                                                            {{ item.variation_category | capfirst }} : {{ item.variation_value }} <br>
                                                        {% endfor %}
                                                    {% endif %}
                                                </li>
                                            </ul>
                                            
                                        </td>
                                        <td class="column-3">$ {{ cart_item.product.price}}</td>
                                        <td class="column-4 text-center">{{ cart_item.quantity }}</td>
                                        <td class="column-5">$ {{ cart_item.sub_total }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div> <!-- card.// -->
                        <!-- ==========product list ends=========== -->
                    </div> 
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Cart Totals
                    </h4>

                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Subtotal: 
                            </span>
                        </div>

                        <div class="size-209">
                            <span class="mtext-110 cl2">
                                ${{ total }}
                            </span>
                        </div>
                    </div>

                    <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                        <div class="size-208 w-full-ssm">
                            <span class="stext-110 cl2">
                                Tax:
                            </span>
                        </div>
                        <div class="size-209">
                            <span class="mtext-110 cl2">
                                ${{ tax }}
                            </span>
                        </div>
                    </div>

                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="size-208">
                            <span class="mtext-101 cl2">
                                Total:
                            </span>
                        </div>

                        <div class="size-209 p-t-1">
                            <span class="mtext-110 cl2">
                                ${{ grand_total }}
                            </span>
                        </div>
                    </div>
                    <div id="paypal-button-container"></div>
                    <!--Paypal button load here-->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
var amount = "{{ grand_total }}"
var url    = "{% url 'payments' %}"
var csrftoken = getCookie('csrftoken');
var orderID  =  "{{order.order_number}}"
var payment_method = 'Paypal'
var redirect_url = "{% url 'order_complete' %}"



// Render the PayPal button into #paypal-button-container
paypal.Buttons({

// Set up the transaction
createOrder: function(data, actions) {
    return actions.order.create({
        purchase_units: [{
            amount: {
                value: amount,
            }
        }] 
    });
},

// Finalize the transaction
onApprove: function(data, actions) {
    return actions.order.capture().then(function(details) {
        // Successful capture! For demo purposes:
        // console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
        // var transaction = orderData.purchase_units[0].payments.captures[0];

        console.log(details);
        sendData();
        function sendData(){
            fetch(url, {
                method : "POST",
                headers: {
                    "Content-type": "application/json",
                    "X-CSRFToken":  csrftoken,
                },
                body: JSON.stringify({
                    orderID : orderID,
                    transID : details.id,
                    payment_method : payment_method,
                    status : details.status,
                }),
            })
            .then(response => response.json())
            .then(data => {
                window.location.href = redirect_url + '?order_number=' + data.order_number+'&payment_id='+data.transID;



            });
            }
        
         

        // Replace the above to show a success message within this page, e.g.
        // const element = document.getElementById('paypal-button-container');
        // element.innerHTML = '';
        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
        // Or go to another URL:  actions.redirect('thank_you.html');
    });
}


}).render('#paypal-button-container');
</script>
{% endblock %}